@using TeknolojiDükkanB.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Siparis";
    Layout = "~/Views/Shared/CariLayout.cshtml";
}
<br />
<h2>Siparis Geçmişim </h2>
<table class="table table-hover">
    <tr>
        <th>Urun Adı</th>
        <th>Urun Marka</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Tarih</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.urun.UrunAdi</td>
            <td>@x.urun.UrunMarka</td>
            <td>@x.Adet</td>
            <td>@x.urun.SatisFiyati</td>

            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
        </tr>
     }




</table>

